[submodule "lib/vendor/twitter-node"]
	path = lib/vendor/twitter-node
	url = git://github.com/jdub/node-twitter.git
[submodule "lib/vendor/tav"]
	path = lib/vendor/tav
	url = git://github.com/akaspin/tav.git
[submodule "lib/vendor/String.prototype.format"]
	path = lib/vendor/String.prototype.format
	url = git://github.com/prettycode/String.prototype.format.js.git
[submodule "lib/vendor/oauth"]
	path = lib/vendor/oauth
	url = git://github.com/ciaranj/node-oauth.git
[submodule "lib/vendor/cookie"]
	path = lib/vendor/cookie
	url = git://github.com/jed/cookie-node.git
